@model KickScooterSharing.Models.Sales
@if (Model != null)
{
    <div id="order-product-block" class="card mx-auto w-100">
        <div class="card-header text-center">
            <h5 class="mx-auto">Scooter info</h5>
        </div>
        <div class="card-body">
            <h3>Tariff : </h3>
            <h3>Balance : </h3>
            <h3 id="time"> Time : 0:0:0 </h3>
        </div>
        <div class="card-footer btn-group">
            <button id="finish-btn" asp-action="Finish" class="btn-block btn-lg btn-info">Finish</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var x = setInterval(() => {
                var currentTime = new Date().getTime();
                @{
                    DateTime origin = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
                    TimeSpan diff = Model.StartDate.ToUniversalTime() - origin;
                }
                var distance = currentTime - @Math.Floor(diff.TotalMilliseconds);
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                $("#time").text("Time : " + hours + ":" + minutes + ":" + seconds);
            }, 1000);
        });
    </script>
    
}