@model KickScooterSharing.ViewModels.ProductViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit</h1>
<h4 class="text-center">Product</h4>
<hr />
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label text-center"></label>
                    <input asp-for="Name" class="form-control smoth-border" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TariffId" class="control-label text-center"></label>
                    <select asp-for="TariffId" class="form-control smoth-border" asp-items="ViewBag.TariffId"></select>
                    <span asp-validation-for="TariffId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScooterId" class="control-label text-center"></label>
                    <select asp-for="ScooterId" class="form-control smoth-border" asp-items="ViewBag.ScooterId"></select>
                    <span asp-validation-for="ScooterId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label text-center"></label>
                    <select asp-for="StatusId" class="form-control smoth-border" asp-items="ViewBag.StatusId"></select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 form-group">
                        <input type="submit" value="Save" class="btn btn-block btn-primary smoth-border" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <a asp-action="Index">Back to List</a>
    </div>
</div>
